src/main/mule/prc-customer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
	<flow name="prc-customer-main">
        <http:listener config-ref="prc-customer-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="prc-customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="prc-customer-console">
        <http:listener config-ref="prc-customer-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="prc-customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customer\(customerId):application\json:prc-customer-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bca6f649-4e0a-4ce2-af9b-5656304711b4" message="#[payload]"/>
		<http:request method="PUT" doc:name="Request" doc:id="53ca817e-1d42-4a09-8ec3-3c18267bcb96" config-ref="HTTP_Request_configuration" path="/customer/{customerId}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	client_id : p('api.sys.client.id'),
	client_secret : p('api.sys.client.secret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"customerId" : attributes.uriParams.customerId
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="67d1ca17-1544-4b09-9a15-d0d0d79b7d94" message="#[payload]"/>
    </flow>
    <flow name="delete:\customer\(customerId):prc-customer-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="08954ff5-17c0-47e4-b980-b00fb6cfbcb5" message="#[payload]"/>
		<http:request method="DELETE" doc:name="Request" doc:id="f2c9b181-dfac-451d-b06e-8b32af0fd38c" config-ref="HTTP_Request_configuration" path="/customer/{customerId}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	client_id : p('api.sys.client.id'),
	client_secret : p('api.sys.client.secret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"customerId" : attributes.uriParams.customerId
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="6db05c47-565f-43df-8887-262349df6700" message="#[payload]"/>
    </flow>
    <flow name="get:\customer\(customerId):prc-customer-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="39d239c0-8d0f-4740-bb52-3dad181f4274" message="#[payload]"/>
		<http:request method="GET" doc:name="Request" doc:id="73fa4ce7-5e30-479a-9a09-8410fb349b08" config-ref="HTTP_Request_configuration" path="/customer/{customerId}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	client_id : p('api.sys.client.id'),
	client_secret : p('api.sys.client.secret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"customerId" : attributes.uriParams.customerId
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="74e362ca-f176-43d6-ac20-b581027d1df2" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="75df9c9b-1674-4b53-8973-2c72e386ba9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
customer: payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\customer:application\json:prc-customer-config">
		<logger level="INFO" doc:name="Logger" doc:id="c86a229f-3322-4197-bf09-b1dc725fbe60" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="2da20d36-189e-4a84-b883-ef884ecf5b90" config-ref="HTTP_Request_configuration" path="/customer">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_id : p('api.sys.client.id'),
	client_secret : p('api.sys.client.secret')
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="f2d7c1e1-ea90-4cbe-8f6d-644190fc2e57" message="#[payload]"/>
    </flow>
</mule>
